@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
@section headEnd
{
    <base href="/BlazorApp2/" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<component>@(await Html.RenderComponentAsync<BlazorApp2.Pages.Counter>(RenderMode.Static))</component>